.chat {
  border-radius: 10px;
  background: #F6F7F8;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: transform .2s ease;

  &:hover {
    background: #E8E9EA;
    cursor: pointer;
  }

  &:active {
    transform: scale(1.02);
  }

  &ContentBox {
    display: flex;
  }

  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &Name {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  &LastMessage, &Date {
    margin: 0;
    color: #696969;
  }

  &Indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
}
