.chat-page-header {
  height: 60px;
  border-bottom: 2px solid #DDD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(252, 197, 33);
}

.chat-page-header_name {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.chat-page-header_icons {
  display: flex;
  gap: 10px;
}